.user-info img{
  height: 2.5rem;
  width: 2.5rem;
}
body{
  background-color: #efefef;
}
.me .me-username{
  font-size: 1.3rem;
  margin-top: -4px;
  margin-bottom: -4px;
}
.me .me-description{
  font-size: 0.6rem;
}
