<ul class="aui-list aui-media-list">
    <li class="aui-list-item" style='padding-right: 0.75rem;' v-for="thread in threads">
        <div class="aui-info" style="padding-bottom: 0.2rem;">
            <div class="aui-info-item" v-bind:onclick='thread.user.onclick'>
                <img v-bind:src="thread.user.avatarSrc" style="width:1rem" class="aui-img-round" /><span class="aui-margin-l-5">{{thread.firstPost.user.username}}</span>
            </div>
            <div class="aui-info-item">{{thread.toc}}</div>
        </div>
        <div class="aui-list-item-text">
            <div class="aui-list-item-title thread-list-title" v-bind:style="thread.titleStyle" v-bind:onclick="thread.onclick">{{thread.firstPost.t}}</div>
        </div>
        <div class="aui-media-list-item-inner">
            <div class="aui-list-item-media" v-bind:style="thread.imgStyle">
                <img v-bind:src="thread.imgSrc">
            </div>
            <div class="aui-list-item-inner">
                <div class="aui-list-item-text" v-bind:onclick="thread.onclick">
                    {{thread.firstPost.c.slice(0, 20)}}
                </div>
                <div class="thread-list-last-post">
                    <div class="" v-bind:onclick="thread.lastOnclick">
                        {{thread.lastPost.c.slice(0, 20)}}
                    </div>
                </div>
                <div class="thread-list-last-info">
                    <span v-bind:onclick="thread.lastUser.onclick">{{thread.lastPost.user.username}}</span>
                    <span>{{thread.lastToc}}</span>
                </div>
            </div>
        </div>
    </li>
</ul>
